h1{
    color: rgb(11, 11, 11);
    text-align: center;
    /* background-color: rgb(93, 185, 231); */
}
h2{
    background-color: palegreen;
    color: black;
}
.Achievements{
    color: rgb(24, 13, 228);
    /* display: inline-block;
    width: 30%; */
  
}
footer{
    background-color: lightsteelblue;
   clear: both;
}
ul{
    /* width: 100%; */
    background-color: bisque;
    /* width: 30%;
    float: left; */
}
/* *{
margin: 0;padding: 0;
} */
/* nav{ */
    /* display: inline-block;
} */
.red{
    display: inline-block;

}
.bob{
text-align: center;
background-color: aqua;
}
section{
    width: 30%;
    margin-right: 2%;
    display: inline-block;
    /* float: left; */
}
#progress{
    width: auto;
    background-color: bisque;
}
details{
    background-color: bisque;
}