.right{
    display: inline-block;
    margin: 0;
    padding: 35px;
    width: 60vw;
    height: 190px;
    /* float: left; */
    text-align: left;
    font-size: 120%;
}
h2{
    color: rgb(16, 16, 17);
    text-transform: uppercase;
    font-weight: bold;
}
.left a img{
    width: 140px;
    height: 100px;
    border: 2px solid black;
    margin: 5px;
    float: left;
}
h1{
    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: bold;
}
header{
    background-image: url("flywheel.jpg");
    padding: 30px;
}
*{
    margin: 0;
    padding: 0;
}
header a{
    text-decoration: none;
    margin: 50px;
    text-align:right;
}
.left{
    display: inline-block;
    background-color: olive;
    /* margin: 20vh; */
    padding: 15px;
    height: 350px;
    width: 160px;
    float: left;
}
a:hover{
    color: rgb(10, 9, 9);
    background: white;
    border-radius: 0;
}

a:active{
    background: rgb(222, 235, 109);
    position: absolute;
}
nav a{
  background-color: #8e8484; 
  border: 2px solid black;
  border-radius: 20px;
  color: rgb(8, 8, 8);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 20px;
  text-align: center;
  font-size: 180%;
} 
table{
    display: flex;
    background-color: rgb(238, 230, 85);
    width: fit-content;
    border: 5px solid black;
    border-radius: 10px;
    font-weight: bold;
}
th{
    background:-moz-linear-gradient(aqua,rgb(207, 226, 31));
    line-height: 50px;
    color: rgb(12, 12, 12);
    text-transform: uppercase;
    /* border-radius: 20px; */
    text-align: center;
}
tr{
    line-height: 50px;   
}
table,th,td{
    border: 2px solid;
    /* border-collapse: collapse; */
}
td:hover{
    /* background-color: aqua; */
    opacity: 0.8;
}
th:first-child{
    text-align: left;
}
/* Justify content is a very important and useful property of css */
p{
    background-color: rgb(204, 199, 231);
}
@media screen and (max-width:800px) {
    p{
    background-color:olive;
}
}
@media screen and (max-width:600px) {
    p{
    background-color:yellow;
}
}