#First
{
    background-color: aqua;
    color: aliceblue;
}
.blue{
    background-color: brown;

} 
h1{
    color: darkcyan;
    background-color: rgb(199, 219, 20);
}
body{
    background-color: rgb(199, 219, 20);
}
p{
    color: brown;
}